/* These keyframes are available in PFQ's default
stylesheet. So they are accesible from any code
you write in yout post or About Me! */
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes pulse {
	from {
		box-shadow: 0 0 0 4px rgba(196, 197, 199, 0.5);
		background-color: #c4c5c7;
	}
	59% {
		box-shadow: 0 0 0 4px rgba(196, 197, 199, 0.5);
		background-color: #c4c5c7;
	}
	60% {
		box-shadow: 0 0 0 4px #fff;
		background-color: rgba(255, 255, 255, 0.5);
	}
	to {
		box-shadow: 0 0 0 4px rgba(196, 197, 199, 0.5);
		background-color: #c4c5c7;
	}
}

@keyframes pling {
	from {
		transform: scale(0);
		opacity: 1;
	}
	80% {
		transform: scale(0.8);
		opacity: 1;
	}
	to {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes nice_mainstar {
	from {
		transform: scale(0) rotate(270deg);
	}
	80% {
		transform: scale(1.4) rotate(54deg);
	}
	to {
		transform: scale(1) rotate(0deg);
	}
}
@keyframes nice_star {
	from {
		transform: rotate(-40deg);
		width: 0;
	}
	to {
		transform: rotate(-40deg) translateX(-12px);
		width: 16px;
	}
}
@keyframes nice_popin {
	from {
		transform: translate(-80%, 0);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}
@keyframes nice_popout {
	from {
		transform: translate(0, 0);
		opacity: 1;
	}
	to {
		transform: translate(0, 80%);
		opacity: 0;
	}
}
